#number of hidden layers
global hiddenLayers 	  = 1;

global hiddenUnits  	  = 2; #deprecated
global outputUnits  	  = 1; #deprecated
global inputUnits   	  = 2; #deprecated

#relative path to the data file
global dataFile			  = "terrain12.data"

#training input percentage
global trainingPercentage = 0.90;

#max tolerance error to neural network output
global maxError			  = 0.05;

#learning factor should be small
global learningFactor     = 0.4;

#array with number of units(without bias) on each layer going from input layer to output layer
global UnitsQuantity      = [2, 9, 1];

#value of 0 for incremental and 1 for batch
global method 			  = 0;

#initialize weights with 0 random, 1 fan-in
global weightInitMethod   = 1;

#When init method is random interval would be [-randAbsolut, randAbsolut]
global randAbsolut        = 0.5;

#0 for no momentum, 1 for momentum
global momentum           = 0;

#activation function for layer 0 tanh, 1 exp, 2 linear
global activationFunction = 1;